@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Sport Referee website</h1>
    <p>Sport referee portal. The referees will put when they are available to 
    referee and the assignor will assign referees games. A referee must accept/decline games 
    given to them & the assignor will be notified per decision.</p>
</div>
